.container{
    margin: auto;
    height: 40vw;
    width:70vw;
    background-color: brown;
    padding: 1em 1em;    
    display:grid;
    overflow: auto;
}
.blank{
    background-color: #dcdcf7;
    position: relative;
    min-height: 0;
    min-width:0;
    max-width: 100%;
    max-height: 100%;
}
.hovered{
    background-color: black;
    min-width:0;
    min-height: 0;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

#clear,#apply{
    background-color: burlywood;
    border:none;
    width:10%;
    padding:1em;
    margin:auto;
    margin-top:2em;
}
#clear:hover,#apply:hover{
    border:2px solid grey;
}
#footer{
    margin-left: 30%;
}
